:root {
  --clr-primary-light-red: hsl(0, 100%, 67%, 0.1);
  --clr-primary-orangey-yellow: hsl(39, 100%, 56%, 0.1);
  --clr-primary-green-teal: hsl(166, 100%, 37%, 0.1);
  --clr-primary-cobalt-blue: hsl(234, 85%, 45%, 0.1);

  --gradient-light-slate-blue: hsl(252, 100%, 67%);
  --gradient-light-royal-blue: hsl(241, 81%, 54%);
  --gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --gradient-persian-blue: hsla(241, 72%, 46%, 0);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  --clr-primary-400: hsl(var(--gradient-light-slate-blue));
  --clr-secondary-400: hsl(var(--gradient-light-royal-blue));

  --gradient-primary: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --font-family: "Hanken Grotesk", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font: inherit;
  padding: 0;
}
svg,
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-400);
  color: var(--clr-neutral-dark-gray-blue);
}
@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.section-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
}

.btn {
  color: var(--clr-neutral-white);
  line-height: 1;
  background-color: var(--clr-neutral-dark-gray-blue);
  padding: 1rem 2rem;
  border: none;
  border-radius: 100vw;
  cursor: pointer;
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--gradient-light-slate-blue);
}
.btn:active {
  background: linear-gradient(
    var(--gradient-light-slate-blue),
    var(--gradient-light-royal-blue)
  );
}
.results-summary {
  --paddding: 2.5rem;
  --border-radius: 2rem;
  max-width: 46rem;
  display: grid;
}

.results {
  color: hsla(0, 0%, 100%, 0.7);
  text-align: center;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: var(--paddding) calc(var(--paddding) * 1.5);
  background: linear-gradient(
    var(--gradient-light-slate-blue),
    var(--gradient-light-royal-blue)
  );
}
.results,
.summary {
  padding: var(--paddding);
}

@media (min-width: 600px) {
  .results-summary {
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--border-radius);
    box-shadow: 0.5rem 1rem 3rem hsla(224, 30%, 27%, 0.2);
  }
  .results {
    border-radius: var(--border-radius);
  }
}
.grid-flow {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}
.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.result-score {
  display: grid;
  place-content: center;
  width: 12rem;
  margin-inline: auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.result-score span {
  display: block;
  font-size: var(--fs-900);
  line-height: 1;
  color: var(--clr-neutral-white);
}
.result-rank {
  color: var(--clr-neutral-white);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}
.sumamry-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary-item[data-item-type="accent-1"] {
  background-color: var(--clr-primary-light-red);
}
.summary-item[data-item-type="accent-2"] {
  background-color: var(--clr-primary-orangey-yellow);
}
.summary-item[data-item-type="accent-3"] {
  background-color: var(--clr-primary-green-teal);
}
.summary-item[data-item-type="accent-4"] {
  background-color: var(--clr-primary-cobalt-blue);
}

h2 {
  font-weight: bold;
}
